asgiref
astunparse
cloudinary
dj-database-url
Django
django-cloudinary-storage
django-crispy-forms
django-heroku
gTTS
gTTS-token
gunicorn
mysql-connector-python
Pillow
psycopg2-binary
python-decouple
pytz
requests
sqlparse
urllib3
whitenoise==6.0.0
wrapt